<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>
<header th:replace="layout/layout :: header"></header>
<div class="container">
    <h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulo}"></h1>

    <p><a th:href="@{/form/sctrs}" class="btn btn-success btn-xs">Crear SCTR-S</a></p>

    <!-- Tabla responsiva -->
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-inverse bg-dark text-white">
            <tr>
                <th>ID</th>
                <th>CÓDIGO</th>
                <th>EMISÓN</th>
                <th>VENCIMIENTO</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">EDITAR</th>
                <th sec:authorize="hasRole('ROLE_ADMIN')">ELIMINAR</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sctrs: ${sctrSalues}">
                <td th:text="${sctrs.id}"></td>
                <td th:text="${sctrs.codigo}"></td>
                <td th:text="${sctrs.emision}"></td>
                <td th:text="${sctrs.vencimiento}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary btn-xs"
                                                             th:href="@{/form/sctrs/} + ${sctrs.id}"
                                                             th:text="'editar'"/></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger btn-xs"
                                                             th:href="@{/eliminar/sctrs/} + ${sctrs.id}"
                                                             th:text="'eliminar'"
                                                             onclick="return confirm('Estás seguro que quieres eliminar?');"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav th:replace="paginator-nav :: paginator"></nav>
</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>